LoginForm.css */ .login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.image-block {
  flex: 1;
}

.form-block {
  flex: 1;
  margin-left: 20px;
}

.loginDiv {
  color: #391085;
  font-size: 35px;
}

.logo-image {
  width: 80%;
  height: auto;
}

.ant-layout .ant-layout-sider {
  background-color: #003eb3;
  float: left;
  width: 20%;
}
.ant-layout-content {
  float: right;
}
.ant-layout .ant-layout-sider-trigger {
  background-color: #4d84eb;
}
.container {
  height: 64;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16;
}
.images {
  height: 90px;
  transition: all 0.3s;
}

.images.collapsed {
  height: 50px;
}
.line {
  width: 80%;
}
.menus {
  background-color: #003eb3;
  font-size: 1rem;
  text-align: left;
  padding-top: 12px;
  color: white;
}

.tooltip-content {
  display: flex;
  align-items: center;
}

.tooltip-avatar {
  display: flex;
  align-items: center;
  margin-left: 82%;
  margin-top: 2%;
  padding: 0%;
}

.arrowdropicon {
  font-size: 35px;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  font-size: 20px;
}

.buttonclass {
  background-color: rgba(80, 65, 188, 1);
  width: 140px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.tabclass {
  width: 80%;
  margin-left: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tabActive {
  background-color: #1890ff;
  color: #fff;
}

.tabInactive {
  background-color: #d57e21;
  color: #000;
}
.headerclass {
  padding-left: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab:hover {
  color: #000;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 0;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background: #d3cbfb;
  font-weight: bold;
  width: 120px;
  text-align: center;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background: rgba(80, 65, 188, 1);
  color: #ffffff;
  font-weight: bold;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin-left: -3px;
}
.selectclass {
  margin-left: -15%;
  width: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.activeclass {
  background-color: #73d13d;
  color: #ffffff;
  font-weight: bold;
  width: 90px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.deactiveclass {
  background-color: #ff4d4f;
  color: #ffffff;
  font-weight: bold;
  width: 90px;
}
.modalclass {
  font-weight: bold;
}
.modalTitleStyle {
  font-size: large;
  font-weight: bolder;
  color: rgba(80, 65, 188, 1);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.searchclass {
  margin-left: -600px;
}

/* Login Css */
.EHD {
  margin-top: 0%;
  margin-bottom: 25%;
  font-style: italic;
}
.logo {
  background-image: url("../public/JOY.png.webp");
  display: inline-block;
  width: 14%;
  height: 10%;
  position: absolute;
  top: 1%;
  left: 1%;
  background-size: cover;
  z-index: 1;
}
.main-container {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-image: url("../public/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 0;
}

.login {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  justify-content: center;
  padding-right: 6%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-right: 8%;
  color: "black";
  border-radius: 10px;
  box-shadow: 5px 10px 20px #000;
  background: linear-gradient(to bottom, #7db9eee1, #98e3e7b7);
}
.submit-button {
  width: 110%;
  height: 40px;
  margin: 2px auto;
  margin-right: 20%;
  color: black;
  background: -webkit-linear-gradient(
    45deg,
    rgba(41, 199, 191, 0.87),
    rgba(170, 125, 206, 0.849) 95%
  );
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.9;
}
.joylogo {
  width: 50%;
  height: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 20%;
}
.ant-layout-content {
  border-radius: 20px;
}
.ant-layout-sider {
  background-color: rgba(80, 65, 188, 1);
  align-items: center;
  border-radius: 10px;
}
.menu-container {
  background: rgba(80, 65, 188, 1);
  border-radius: 10px;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}
.ant-layout-sider-children {
  background-color: rgba(80, 65, 188, 1);
  border-radius: 10px;
  align-items: center;
  float: left;
  width: 100% !important;
}
.ant-menu-item:hover {
  background-color: white !important;
  color: rgba(80, 65, 188, 1) !important;
  font-weight: 500 !important;
  transition: background-color 0s, color 0s;
}
.input-field {
  padding: 2%;
  font-size: 14px;
  width: 110%;
}
.content-container {
  padding-left: 2%;
  background-color: white;
}
.header {
  background-color: white;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.divider {
  background-color: #ffffff;
  margin: 0%;
  margin-bottom: 5%;
}
.forgotPassw {
  color: black;
  font-weight: 500;
}
.dropdownIcon {
  display: flex;
  align-items: right;
  margin-left: 400px;
}
.avatar {
  background-color: navy;
  cursor: pointer;
  margin-right: 50px;
}
