LoginForm.css */ .login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.image-block {
  flex: 1;
}

.form-block {
  flex: 1;
  margin-left: 20px;
}

.loginDiv {
  color: #391085;
  font-size: 35px;
}

.logo-image {
  width: 80%;
  height: auto;
}

.ant-layout .ant-layout-sider {
  background-color: #003eb3;
  float: left;
  width: 20%;
}
.ant-layout-content {
  float: right;
}
.ant-layout .ant-layout-sider-trigger {
  background-color: #4d84eb;
}
.container {
  height: 64;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16;
}
.images {
  height: 90px;
  transition: all 0.3s;
}
.dropdownIcon {
  display: flex;
  align-items: right;
  margin-left: 400;

}
.avatar {
  background-color: navy;
  cursor: pointer;
   margin-left: 3;
  
}

.dropdowncontent {
  display: flex;
  align-items: center;
  
}
.images.collapsed {
  height: 50px;
}
.line {
  width: 80%;
}
.menus {
  background-color: #003eb3;
  font-size: 1rem;
  text-align: left;
  padding-top: 12px;
  color: white;
}

.tooltip-content {
  display: flex;
  align-items: center;
}

.tooltip-avatar {
  display: flex;
  align-items: center;
  margin-left: 82%;
  margin-top: 2%;
  padding: 0%;
}

.arrowdropicon {
  font-size: 35px;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon {
  font-size: 20px;
}

.buttonclass {
  background-color: rgba(80, 65, 188, 1);
  width: 140px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.tabclass {
  width: 95%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tabActive {
  background-color: #1890ff;
  color: #fff;
}

.tabInactive {
  background-color: #d57e21;
  color: #000;
}
.headerclass {
  padding-left: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab:hover {
  color: #000;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 0;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background: #d3cbfb;
  font-weight: bold;
  width: 120px;
  text-align: center;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background: rgba(80, 65, 188, 1);
  color: #ffffff;
  font-weight: bold;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin-left: -3px;
}
.selectclass {
  margin-left: -15%;
  width: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.activeclass {
  background-color: #08b708;
  color: #ffffff;
  font-weight: bold;
  width: 90px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.deactiveclass {
  background-color: #df2427;
  color: #ffffff;
  font-weight: bold;
  /* width: 90px; */
}
.modalclass {
  font-weight: bold;
}
.modalTitleStyle {
  font-size: large;
  font-weight: bolder;
  color: rgba(80, 65, 188, 1);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.searchclass {
  margin-left: -400px;
}

/* Login Css */
.EHD {
  margin-top: 0%;
  margin-bottom: 25%;
  font-style: italic;
}
.logo {
  background-image: url("../public/JOY.png.webp");
  display: inline-block;
  width: 14%;
  height: 10%;
  position: absolute;
  top: 1%;
  left: 1%;
  background-size: cover;
  z-index: 1;
}
.main-container {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-image: url("../public/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 0;
}

.login {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  justify-content: center;
  padding-right: 6%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-right: 8%;
  color: "black";
  border-radius: 10px;
  box-shadow: 5px 10px 20px #000;
  background: linear-gradient(to bottom, #7db9eee1, #98e3e7b7);
}
.submit-button {
  width: 110%;
  height: 40px;
  margin: 2px auto;
  margin-right: 20%;
  color: black;
  background: -webkit-linear-gradient(
    45deg,
    rgba(41, 199, 191, 0.87),
    rgba(170, 125, 206, 0.849) 95%
  );
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.9;
}
.joylogo {
  width: 50%;
  height: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 20%;
}
.ant-layout-content {
  border-radius: 20px;
}
.ant-layout-sider {
  background-color: rgba(80, 65, 188, 1);
  align-items: center;
  border-radius: 10px;
}
.menu-container {
  background: rgba(80, 65, 188, 1);
  border-radius: 10px;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}
.ant-layout-sider-children {
  background-color: rgba(80, 65, 188, 1);
  border-radius: 10px;
  align-items: center;
  float: left;
  width: 100% !important;
}
.ant-menu-item:hover {
  background-color: white !important;
  color: rgba(80, 65, 188, 1) !important;
  font-weight: 500 !important;
  transition: background-color 0s, color 0s;
}
.input-field {
  padding: 2%;
  font-size: 14px;
  width: 110%;
}
.content-container {
  padding-left: 1%;
  background-color: aliceblue;
}

.header {
  background-color: white;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  position:absolute;
  right:1%;
  background-color: aliceblue;
}
.divider {
  background-color: #ffffff;
  margin: 0%;
  margin-bottom: 5%;
}
.forgotPassw {
  color: black;
  font-weight: 500;
}
/* user css */

.drop {
  display: flex;
  justify-content: space-evenly;
}

.dropdown {
  width: 100%;
  height: 40%;
  font-size: 15px;
  font-weight: 600;
  padding: 6px;
  /* max-height: 200px; */
}

.descriptioncard {
  margin: 2%;
}
.subclrbutton {
  display: flex;
  float: right;
}

.headings {
  margin-top: -14px;
  color: navy;
}
.head {
  color: #003eb3;
  margin-left: 20px;
}

.subclrbutton {
  margin-right: 22px;
  width: 18%;
  display: flex;
  justify-content: space-between;
}
.ant-table-body {
  max-height: 600px;
  overflow-y: auto;
}
.ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #adc6ff;
}
.ant-table-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.ant-table-body {
  height: 50vh;
}

.blink_me {
  animation: blinker 2s linear infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
}
 /*  */
.green-dot {
  border: 1px solid green;
  background-color: green;
}
.gray-dot{
  border:#5a5a5a;
  background-color: #5a5a5a;
}

.red-dot {
  border: 1px solid rgb(195, 0, 0);
  background-color: rgb(244, 1, 1);
}

.yellow-dot {
  border: 1px solid #ffff00;
  background-color: yellow;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

.searchs {
  width: 22%;
  display: flex;
  justify-content: space-between;
}


.AssigneinfoModl{
  font-size: medium;
 
}
/* megha- ticketing */

.title {
  margin: 0;
  font-size: 1rem;
}

.dropdown-container {
  float: right;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-card {
  width: 170px;
  margin: 0px 5px;
  margin-bottom: 10px;
  transition: box-shadow 0.2s;
  border: 3px solid rgb(158, 156, 156);
}

.card-value {
  color: black;
  font-weight: bold;
  font-size: 25px;
  float: left;
}

.view-details {
  font-size: 1.9vh;
  color: blue;
  font-weight: bold;
  float: right;
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.card-title1,
.card-title2,
.card-title3,
.card-title4,
.card-title5,
.card-title6 .dot1,
.dot2,
.dot3,
.dot4,
.dot5,
.dot6 {
  margin-left: 7px;
}

.card-title1,
.card-title2,
.card-title3,
.card-title4,
.card-title5,
.card-title6 > span {
  margin-left: 5px;
}

.div {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 98.5%;
}

.heading {
  margin-left: 12px;
  color: navy;
}

.search {
  width: 35%;
  display: flex;
  margin: auto;
  float: right;
  margin-left: 39%;
}

.dot-title-container1,
.dot-title-container2,
.dot-title-container3,
.dot-title-container4,
.dot-title-container5,
.dot-title-container6 {
  display: inline-block;
  padding: 4px;
  border-radius: 50px;
  width: 75%;
  vertical-align: middle;
  padding-top: 1px;
  float: right;
}

.dot-title-container1 {
  background-color: gray;
}

.dot-title-container2 {
  background-color: lightgreen;
}

.dot-title-container3 {
  background-color: #f07a88;
}

.dot-title-container4 {
  background-color: #c0c2c4;
}

.dot-title-container5 {
  background-color: #e4f731;
}

.dot-title-container6 {
  background-color: #f07a88;
}

.dot1 {
  background-color: #333;
}

.dot2 {
  background-color: green;
}

.dot3 {
  background-color: red;
}

.dot4 {
  background-color: black;
}

.dot5 {
  background-color: #9bab0a;
}

.dot6 {
  background-color: red;
}

.dot1,
.dot2,
.dot3,
.dot4,
.dot5,
.dot6 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.card-title2 {
  color: green;
}

.card-title3 {
  color: red;
}

.card-title4 {
  color: black;
}

.card-title5 {
  color: #9bab0a;
}

.card-title6 {
  color: red;
}

.card-title1,
.card-title2,
.card-title3,
.card-title4,
.card-title5,
.card-title6 {
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
}

.maincard {
  margin-bottom: 16px;
  width: 100%;
}

.tdiv {
  display: "flex";
  justify-content: space-between;
  align-items: flex-start;
}

.tselect {
  background-color: white;
  color: Blue;
}

.tbutton {
  background-color: white;
  color: Blue;
}

popover-button {
  margin-top: 8px;
}

popover-buttoncancel {
  margin-top: 8px;
}

.left-content {
  flex-grow: 0;
}

.middle-content {
  flex-shrink: 0;
  margin: 0 10px;
  display: contents;
}

.right-content {
  flex-shrink: 0;
}

.option1,
.option2, .option3 {
  font-weight: bold !important;
}

.option1 {
  color: green !important;
}

.option2, .option3 {
  color: red !important;
}

.Department {
  width: 120;
}

.spanId{
  color: grey;
}

.spanGet, .spanDesc{
  font-weight: bold;
}

.spanDesc{
color: black;
}

.divCategory{
  height: 300px;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 16px;
}

.belowCards{
  width: 100%; 
  padding: 16px;
  margin-bottom: 16px; 
}

.cardDiv{
  display: flex;
   flex-wrap: wrap;
}

.view-details {
  font-size: 1.9vh;
  color: blue;
  font-weight: bold;
  float:right;  
}

.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.div{
  display: flex;
  justify-content: space-between;
}

.search{
  width:35%;
  display: flex;
  margin: auto;
  float:right;
  margin-left: 42%;
}   

.dot-title-container {
  display: inline-block;
  padding: 4px;
  border-radius: 50px;
  width: 75%;
  vertical-align: middle;
  padding-top: 1px; 
  float: right; 
} 

.horizontal-card{
  width: 95%;
}

.horizontal-card-container{
  max-height: 300px;
   overflow-y:scroll;

}
.dropdown{
  text-align:center;
  margin-right:10px;
  width: 100%;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.ticket-card-container {
  display: flex;
  justify-content: space-between;
}

.ticket-card,
.middle-content,
.right-content,
.last-content {
  flex: 1;
  margin: 0 10px;
  width:20%;
}
.ticket-card{
  width:50%;
}
.left-content p{
font-weight: bold;
}

.priority-high {
color: red;
}

.priority-medium {
color: green;
}

.priority-low {
color: yellow;
}

.modal{
  margin-top: 15%;
}

.ant-select-selection-item {
  color: blue;
  font-weight: bold !important;
}


.right-content-btn {
  color: blue;
  font-weight: bold !important;
}

.option1, .option2 {
  font-weight: bold !important;
}

.option1 {
  color: green !important;
}

.option2 {
  color: red !important;
}
.Department{
  width:120;
}

.ticket-card-container {
  display: flex;
  justify-content: space-between;
}

.ticket-card,
.ticket-actions,
.ticket-priority {
  flex: 1;
  margin-right: 10px; 
}

.cardDiv {
  padding: 10px;
}

.ticket-details {
  margin-bottom: 10px;
}

.middle-content {
  margin-bottom: 10px;
}

.right-content-btn {
  margin-left: 10px;
  width: 100%;
}

.priority-text {
  font-weight: bold;
}

.high {
  color: red;
    background-color: rgb(235, 118, 118);
    border-radius: 50%;
    min-width: 164%;
    padding: 20%;
    text-align: center;
}

.medium {
  color: orange;
  background-color: rgb(241, 208, 146);
  border-radius: 45%;
  border-radius: 50%;
  min-width: 164%;
  padding: 20%;
  text-align: center;
}

.low {
  color: green;
  background-color: rgb(181, 241, 181);
  border-radius: 45%;
  border-radius: 50%;
  min-width: 164%;
  padding: 20%;
  text-align: center;
}

.light {
  opacity: 0.5;
}

.carddetails{
  display: flex;
  justify-content: space-between;
}
.tickectinfo{
  width: 40%;
}
.priority{
  width: 100%;
}

.nametag{
  text-decoration: underline;
}

.belowCards{
  background-color:#f5edee;
}
.resolved-btn{
  margin-top: 8px;
}

.priority-txt{
  margin-top: -7px;
}

.dept-opt{
  width: 40%;
}

/* AddEmployee*/

.addEmployee {
  color: rgba(80, 65, 188, 1);
}
.addEmployeeModel .ant-modal-title {
  color: rgb(25, 4, 161);
}
.addEmployeeModel {
  margin-left: 20%;
  margin-top: 3%;
}
.addEmpForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 3%;
}
.addEmpForm1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 45%;
}
.addEmpForm2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 32%;
}
.addSubmit {
  background-color: rgba(80, 65, 188, 1);
  border-radius: 8px;
  margin-left: 1%;
  font-size: 15px;
  justify-content: center;
  font-weight: 600;
  margin-top: 3%;
}
.addCancel {
  background-color: rgb(250, 67, 67);
  border-radius: 8px;
  margin-left: 2%;
  font-size: 15px;
  justify-content: center;
  font-weight: 600;
}
.selectdesignation .ant-select-selector {
  width: 200px !important;
}
.selectdesignation .ant-select-dropdown-content {
  width: 220px !important;
}
.selectgender .ant-select-selector {
  width: 200px !important;
}
.selectgender .ant-select-dropdown-content {
  width: 220px !important;
}
/* Edit employee */
.editEmployee {
  color: rgba(80, 65, 188, 1);
}
.editEmpForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-right: 55%; */
}
.editEmpForm1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 45%;
}
.editSubmit {
  background-color: rgba(80, 65, 188, 1);
  border-radius: 8px;
  font-size: 15px;
  justify-content: center;
  font-weight: 600;
}
.editCancel {
  background-color: rgb(250, 67, 67);
  border-radius: 8px;
  margin-right: 2%;
  font-size: 15px;
  justify-content: center;
  font-weight: 600;
}

/* Configuration.tsx */
.searchclass{
  margin-left: -25%;
}
.selectconfig{
  display: flex;
  gap: 10px;
}
.ant-table-wrapper .ant-table-thead >tr>th{
  background-color: #c3c9e5;
}


/* escalation count part */

.count-card{
  width:100%;
  padding:-10;
  background-color:#5041BC;
}
.count-card .ant-card-body{
  padding: 0;
}

.count-card .ant-card-head-title{
  color:white !important;
}

.count-card-list {
  padding:0;
  margin:0;
  width:100%;
  overflow-y: scroll;
  max-height: 16vh;
}

.count-card-list::-webkit-scrollbar {
  width: 5px;
}
.count-card-list::-webkit-scrollbar-thumb {
  background-color: white;  
  margin-right: 5px;
}
.count-card-list::-webkit-scrollbar-track {
  background-color: #5041BC;  
}
.count-card-listitem{
  padding:4% 6% !important;
  color:white; 
  background-color:#5041BC;
  border:0 !important; 
  width:100% !important;
}
.count-card-listitem:hover{
  background-color: white !important;
  color:#5041BC !important;
  border-radius: 5px ;
  margin:5px;
  width:97% !important;
  font-size: 20px !important;  
}
.count-card-listitem-click{
  background-color: white !important;
  color:#5041BC !important;
  border-radius: 5px !important;
  margin:5px;
  width:97% !important;
  padding:4% 6% !important;
  color:white; 
  background-color:#5041BC;
  border:0 !important;  
}

/* escalation content part */

.content-card{
  width:98%;
  margin:1%;
}
.content-card .ant-card-body {
  padding:0.8%;
  background-color:#f5fbff;
  margin:-1.1% 0;
  border-radius: 7px;
  border: 2px solid #d6edfd;
}
.content-card-list{
  overflow-y: scroll;
  max-height: 50vh;
  padding:-5% 0;
}
.content-card-listitem{
  margin:10; 
  padding:0;
}

.content-card-divider-text{
  font-size:12px;
  color:#76cdd3; 
  margin-left:10%;
  /* margin-bottom:-20%; */
}

.content-card-ticketticketid{
  font-size:18px;
  padding-left:1%;
  padding-bottom:1%;
  font-weight: 450;
  color:#777777; 
}
.content-card-ticketissue{
  padding-bottom:1%;
  font-size:18px;
  font-weight:600;
}
.content-card-ticketinfo-row{
  margin-top:-1%;
  margin-bottom: -2%;
  font-size:16px;
  font-weight:normal;

}
.content-card-ticketuser{
  color:blue;
  cursor:pointer;
}
.content-card-createddate{
  color:#5a5a5a;
}
.content-card-ticketdescription-row{
  padding-right:10;
  font-size:14px;
  font-weight:normal;
  margin-top:-1.5%;
}

/* escalation misc */

.esc-heading-div{
  padding-left:1%;
  color:#5041BC;
}

.count-div{
  padding: 0% 1%;
}

.content-card-heading-div{
  display:flex;
  align-items:center;
  color:#5041BC;
  padding-left:1%;
  padding-top: 2%;
}

.content-card-reraise-button{
  background-color:#5041BC;
  color:white;
}

.modal-cancel-button{
  background-color:#d73435;
  color:white
}
.modal-reraise-button{
  background-color:#00a854;
  color:white;
}



/* Admin/Employee */
.btn {
  display: flex;
  justify-content: space-between;
}

.selectdrop {
  width: 100%;
}

.btns {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}

.ant-table-body {
  max-height: 600px;
  overflow-y: auto;
}

.ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #adc6ff;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.ant-table-body {
  height: 50vh;
}

.btnss {
  background-color: #73d13d;
  color: white;
}

.selectRoles .ant-select-selector {
  width: 120px !important;
}

.selectRoles .ant-select-dropdown-content {
  width: 100px !important;
}

.searchfeild {
  width: 80%;
}

.activatebtn {
  display: flex;
  width: 45%;
  justify-content: space-around;
}

.refreshbtn {
  margin-top: 3%;
}
.status_pending{
  text-wrap: nowrap;
  margin-top: -66% !important;
  margin-left: 100% !important;

}
.activatebtn {
  display: flex;
  width: 45%;
  justify-content: space-around;
  margin-right: 8%;
}
.deactive{
  margin-left: 2% !important;
}
.searchfeild {
  width: 80%;
  width: 100%;
  margin-left: -25%;
}



.head{
  color:rgb(79 64 185);
  margin-left:2%;
  margin-top:3%;
}
.cardcreate{
   width:30% ;
   margin-top:4%;
}
